#columns {
  background-color: transparent;
  column-width: 450px;
  column-gap: 15px;
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  margin-top: -1595px;
  margin-bottom: 70px;
}
div#columns figure {
  background: #FFF;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px; padding-bottom: 10px;
  display: inline-block;
}
div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}
/*
figure:not(:hover){
  filter: grayscale();
}*/
/*figure:hover{
  border-radius: 20px;
}*/
figcaption{
  font-size: 12pt;
  font-family: helvetica;
  color: #333;
  margin-bottom: 5px;
}
figcaption:hover{
  color: #67AEE7;
}
.tags{
  font-family: helvetica;
  font-weight: 100;
  font-size: 11pt;
  color: #FFF;
  cursor:default;
}
.tags span{
  background-color: #999;
  padding: 3px 5px;
  margin-right: 4px;
  border-radius: 3px;
}
.deets{
  margin-top: 10px;
  font-family: helvetica;
  color: #555;
  font-weight: 100;
  font-size: 11pt;
}
