ol,ul{list-style:none;}
a{text-decoration: none; color: inherit;}
html, body {margin: 0;  padding: 0;}
#name{ padding-top: 130px; color: white; width: 100%; text-align:center; font-size: 35pt; font-weight: 100; font-family: helvetica, sans-serif;}
.cover{
  background-image: url("../assets/cover.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#icon{
  width: 25px;
  vertical-align: middle;
}

#typed-strings{
  height: 30px;
}
.element{
  width: 100%;
  font-weight: 100;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.menu{font-family: helvetica, sans-serif;
  margin-top: 36px;
  background-position: center;
  width: 100%;
  height: 35pt;
  cursor: default;
}
.menu ul{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.menu li{
  color: #323234;
  display: inline-block;
  font-size: 15pt;
  margin-top: 10px;
  margin-right: 35px;
}
.menu li.on{
  color: #67AEE7;
}
.menu li a:hover{
  color: #67AEE7;
  cursor: pointer;
}
#idk{
  margin-top:-80px;
}
